<div class="container">

  <div class="row">
    <div class="col-md-11 pl-5 pb-3">
      <h4>商品一覧</h4>
          <%= link_to new_admin_item_path, class:"nav-link text-dark text-right" do %>
          <i class="fa-solid fa-plus"></i>新規登録
          <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-11">
      <table class="table table-hover table-inverse">
        <tr class="bg-light">
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>

         <% @items.each do |item| %>

        <tr>
          <td><%= item.id %></td>
          <td><%= link_to item.name, admin_item_path(item) %></td>
          <td><%= (item.price).floor.to_s(:delimited) %></td>
          <td><%= item.genre.name %></td>
          <td>
              <% if item.is_active == true %>
              <%= "販売中" %>
              <% else %>
              <%=  "売り切れ" %>
              <% end %>
          </td>
        </tr>
        <% end %>
      </table>



    </div>
    <div class="col-md-2 offset-md-5">
        <div><%= paginate @items %></div>
    </div>
  </div>
</div>


