<div class="container">

  <div class="row">
    <div class="col-md-2">
      <div class="border border-dark">
      <table>
      <tr><th>ジャンル検索</th></tr>
      <% @genres.each do |genre| %>
      <tr>
      <td class="pl-3 pb-2">
      <%= link_to admin_genre_path(genre) do %>
      <%= genre.name %></td>
      <% end %>
      <% end %>
      </tr>
      </table>
      </div>
    </div>

    <div class="col-md-7 offset-1">
      <div class="text-center border border-dark pt-5 pb-5">
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。<br>
      </div>

      <h3 class="pb-2 pt-3">新着商品</h3>
        <div class="d-flex">
        <% @items.each do |item| %>
        <div class="rounded pb-4 pr-4">
        <%= link_to item_path(item) do %>
        <%= image_tag item.get_image(150,150) %>
        <% end %>
        <%= item.name %><br>
        ¥<%= item.price.to_s(:delimited) %>
        </div>
        <% end %>
        </div>
    </div>
  </div>
  <%= link_to "全ての商品を見る >",items_path,class:"float-right" %>
  </div>
</div>